<div class="widget-wrap">
  <h3 class="widget-title"><%= __('Newsletter') %></h3>
  <div class="widget">
    <form action="">
      <div class="input-group">
        <input class="input-control" type="email" placeholder="Email" name="emailField" />
        <span class="input-group-addon">
          <button class="button" type="submit">Submit</button>
        </span>
      </div>
    </form>
  </div>
</div>
